bin/
obj/
TestResults/
Data/IVO.mdf
Data/IVO_log.ldf
.gitignore
*.exe
*.msi
*.suo
*.user
*.doc
*.docx
*.xls
*.xlsx
*.vspscc
*.zip
*.csv
*.cache
*.gif
*.jpg
*.png
*.ico
*.datasource
*.cmd
*.7z
*.patch
*.mdf
*.ldf
screenlog.*
