<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="GitCMS.Data.Properties.Settings.GitCMSConnectionString"
            connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=GitCMS;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>